* {
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	justify-content: space-between;
}

.title {
	margin-left: 2em;
	font-weight: 400
}

.dropdown {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-right: 15em;
}