
.currency_box {
  text-align: center;
  padding-top: 1em;
  font-weight: 300;
  width: 150px;
  height: 150px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  right: 3%;
  background-color: white;
  top: 3% ;
}

.mg-btm {
  margin-bottom: 50px;
}

.currency-data {
  padding: 20px 20px 0;
}